.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-container {
  margin-top: 5vh;
  margin-bottom: 5vh;
  height: 300px;
  width: 400px;
  border: 25px, #f8f598;
}

.three-element {
  /* border: 1px solid black !important; */
  font-family: "Gill Sans"
}

.main-image {
  text-align: center;
  border: 1px solid black !important;
  height: 25vh;
  border-radius: 15%;

}

.icon {
  border-radius: 100%;
  height: 70px;
  width: 70px;
  margin:auto; 
  /* transition: 200ms all; */

}

.icon img {
  /* /* height: 50px; */
  width: 50px; 
  border-radius: 50px 30px 50px 50px;
  padding: 10px 10px 10px 10px;
}


.bug {
  background: #92BC2C; 
  box-shadow: 0 0 20px #92BC2C; 
}

.dark {
  background: #595761;
  box-shadow: 0 0 20px #595761;
}

.dragon {
  background: #0C69C8;
  box-shadow: 0 0 20px #0C69C8;
}

.electric {
  background: #F2D94E;
  box-shadow: 0 0 20px #F2D94E;
}

.fire {
  background: #FBA54C;
  box-shadow: 0 0 20px #FBA54C;
}

.fairy {
  background: #EE90E6;
  box-shadow: 0 0 20px #EE90E6;
}

.fighting {
  background: #D3425F;
  box-shadow: 0 0 20px #D3425F;
}

.flying {
  background: #A1BBEC;
  box-shadow: 0 0 20px #A1BBEC;
}

.ghost {
  background: #5F6DBC;
  box-shadow: 0 0 20px #5F6DBC;
}

.grass {
  background: #5FBD58;
  box-shadow: 0 0 20px #5FBD58;
}

.ground {
  background: #DA7C4D;
  box-shadow: 0 0 20px #DA7C4D;
}

.ice {
  background: #75D0C1;
  box-shadow: 0 0 20px #75D0C1;
}

.normal {
  background: #A0A29F;
  box-shadow: 0 0 20px #A0A29F;
}

.poison {
  background: #B763CF;
  box-shadow: 0 0 20px #B763CF;
}

.psychic {
  background: #FA8581;
  box-shadow: 0 0 20px #FA8581;
}

.rock {
  background: #C9BB8A;
  box-shadow: 0 0 20px #C9BB8A;
}

.steel {
  background: #5695A3;
  box-shadow: 0 0 20px #5695A3;
}

.water {
  background: #539DDF;
  box-shadow: 0 0 20px #539DDF;
}


.id-container {
  border-radius: 25px;
}


.testing {
  padding: 15px;
  display: flex;
  gap: 5px;
}


.base-experience {
  margin-top: 5px;
  border-radius: 25px;

}

.basic-pokemon {
  font-family: "Gill Sans"
}

.order-container {
  margin-top: 5px;
  border-radius: 25px;
}

.weight-container {
  margin-top: 5px;
  border-radius: 25px;
}

.skills-container {
  border-radius: 25px;
}